<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>Usuarios</h2>
        </div>
        <div class="col text-end">
            <button cButton color="success" variant="outline" (click)="abrirModal()">
                <svg cIcon class="me-2" name="cil-user-plus"></svg>
                Nuevo Usuario
            </button>
        </div>
    </div>
  
  <table id="tablaUsuarios" class="display table table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

</div>

<!-- Modal de nuevo usuario -->
<c-modal [(visible)]="modalVisible" size="lg" backdrop="static" alignment="center">
  <c-modal-header>
    <h5 class="modal-title">Nuevo Usuario</h5>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="formUsuario" class="mx-lg-5 mx-md-2 px-lg-3 px-md-2">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input cInput formControlName="nombre" class="form-control" type="text" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{3,}$" minlength="3" title="mínimo 3 caracteres" required name="nombre"/>
      </div>
      <div class="mb-3">
        <label class="form-label">Correo</label>
        <input cInput formControlName="correo" class="form-control" type="email"  required name="email"/>
      </div>
      <div class="mb-3">
        <label class="form-label">Rol</label>
        <select cInput formControlName="rol" class="form-select" required name="rol">
          <option *ngFor="let rol of roles" [value]="rol.id_rol">
            {{ rol.nombre }}
          </option>
        </select>
      </div>

    </form>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="secondary" (click)="cerrarModal()">Cancelar</button>
    <button type="submit" cButton color="primary" (click)="editando ? actualizarUsuario() : guardarUsuario()" [disabled]="formUsuario.invalid">
      {{ editando ? 'Actualizar' : 'Guardar' }}
    </button>
  </c-modal-footer>
</c-modal>