<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <span class="clearfix">
          <h1 class="float-start display-3 me-4">403</h1>
          <h4 class="pt-3">Forbidden</h4>
          <p class="text-body-secondary float-start">
            No tienes los accesos suficientes para esta operación.
          </p>
        </span>
        <c-input-group class="input-prepend">
          <a href="/" class="btn btn-light w-100" role="button">Regresar a Inicio</a>

        </c-input-group>
      </c-col>
    </c-row>
  </c-container>
</div>
