<app-widgets-dropdown />

<c-card class="my-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0">Resumen de Cumplimiento</h4>
        <div class="small text-body-secondary">
          {{ modoSeleccionado === 'ULTIMAS' ? 'Últimas Evaluaciones' : 'Todas las Evaluaciones' }}
        </div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="ULTIMAS"
              id="ultimasRadio"
            />
            <label
              (click)="setTrafficPeriod('ULTIMAS')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              for="ultimasRadio"
            >
              Últimas 
            </label>
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="TODAS"
              id="todasRadio"
            />
            <label
              (click)="setTrafficPeriod('TODAS')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              for="todasRadio"
            >
              Todas
            </label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>

    <!-- Gráfico -->
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [options]="mainChart.options"
      [type]="mainChart.type"
    >
      Chart
    </c-chart>
  </c-card-body>

</c-card>
