<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>Empresas</h2>
        </div>
        <div class="col text-end">
            <button cButton color="success" variant="outline" (click)="abrirModal()" >
                <svg cIcon class="me-2" name="cil-building"></svg>
                Nueva Empresa
            </button>
        </div>
    </div>
  
  <table id="tablaEmpresas" class="display table table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Sector</th>
        <th>País</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td>{{ empresa.id_empresa }}</td>
        <td>{{ empresa.nombre }}</td>
        <td>{{ empresa.sector }}</td>
        <td>{{ empresa.pais }}</td>
        <td>{{ empresa.id_estado === 1 ? 'Habilitada' : 'Deshabilitada' }}</td>
        <td class="text-center">

          <button cButton color="secondary" variant="outline" class="me-2" title="Ver empresa" (click)="verDetalleEmpresa(empresa)">
            <svg cIcon name="cil-zoom"></svg>
          </button>

      </tr>
    </tbody>
  </table>
</div>

<!-- Modal de nueva empresa -->
<c-modal [(visible)]="modalVisible" size="lg" backdrop="static" alignment="center">
  <c-modal-header>
    <h5 class="modal-title">Nueva Empresa</h5>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="formEmpresa" class="mx-lg-5 mx-md-2 px-lg-3 px-md-2">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input cInput formControlName="nombre" class="form-control" type="text" name="nombre"/>
      </div>
      <div class="mb-3">
        <label class="form-label">Sector</label>
        <input cInput formControlName="sector" class="form-control" type="text" name="sector"/>
      </div>
      <div class="mb-3">
        <label class="form-label">País</label>
        <input cInput formControlName="pais" class="form-control" type="text" name="pais"/>
      </div>

    </form>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="secondary" (click)="cerrarModal()">Cancelar</button>
    <button cButton color="primary" (click)="guardarEmpresa()" [disabled]="formEmpresa.invalid">
      {{'Guardar' }}
    </button>
  </c-modal-footer>
</c-modal>

<!-- Modal vista de empresa (detalle, historial de evaluaciones y asignacion de auditor) -->
<c-modal #detalleEmpresa id="detalleEmpresa" scrollable [(visible)]="modalEmpresaVisible" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>{{nombreEmpresa + ' - ' + sectorEmpresa}}</h5>
    <button [cModalToggle]="detalleEmpresa.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="vistaDetalleEmpresa"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="detalleEmpresa.id" cButton color="secondary">
      Cerrar
    </button>
  </c-modal-footer>
</c-modal>

<ng-template #vistaDetalleEmpresa>
  <div class="container">
    <div class="row">
      <div class="col-6 h5">
        Auditores asignados:
      </div>
      <div class="col-6 text-end">
        <button cButton color="primary" variant="outline" >
          Asignar Auditor
        </button>
      </div>
    </div>
    <div class="row mt-3 ps-2">
      <ul cListGroup>
        <li cListGroupItem>Oliver López - asignado el 10/04/2025</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col mt-4">
        <h5>Historial de evaluaciones</h5>
      </div>
    </div>  
    <div class="row">
      <div class="col">
        <ul cListGroup>
          <li cListGroupItem>
            <span>Marco legal evaluado: Convenio de Budapest</span>
            <br>
            <span class="text-muted">Fecha de evaluación: 01/01/2025</span>
            <c-progress [animated]="true" [value]="25" color="danger" variant="striped">25%</c-progress>
          </li>
          <li cListGroupItem>
            <span>Marco legal evaluado: Convenio de Budapest</span>
            <br>
            <span class="text-muted">Fecha de evaluación: 01/03/2025</span>
            <c-progress [animated]="true" [value]="65" color="warning" variant="striped">65%</c-progress>
          </li>
          <li cListGroupItem>
            <span>Marco legal evaluado: Convenio de Budapest</span>
            <br>
            <span class="text-muted">Fecha de evaluación: 01/06/2025</span>
            <c-progress [animated]="true" [value]="95" color="success" variant="striped">95%</c-progress>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>