<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>Empresas</h2>
        </div>
        <div class="col text-end" *ngIf="rolUsuario === 1 || rolUsuario === 2">
            <button cButton color="success" variant="outline" (click)="abrirModal()" >
                <svg cIcon class="me-2" name="cil-building"></svg>
                Nueva Empresa
            </button>
        </div>
    </div>
  
  <table id="tablaEmpresas" class="display table table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Sector</th>
        <th>País</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td>{{ empresa.id_empresa }}</td>
        <td>{{ empresa.nombre }}</td>
        <td>{{ empresa.sector }}</td>
        <td>{{ empresa.pais }}</td>
        <td>{{ empresa.id_estado === 1 ? 'Habilitada' : 'Deshabilitada' }}</td>
        <td class="text-center">

          <button cButton color="secondary" variant="outline" class="me-2" title="Ver empresa" (click)="verDetalleEmpresa(empresa)">
            <svg cIcon name="cil-zoom"></svg>
          </button>

      </tr>
    </tbody>
  </table>
</div>

<!-- Modal de nueva empresa -->
<c-modal [(visible)]="modalVisible" size="lg" backdrop="static" alignment="center">
  <c-modal-header>
    <h5 class="modal-title">Nueva Empresa</h5>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="formEmpresa" class="mx-lg-5 mx-md-2 px-lg-3 px-md-2">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input cInput formControlName="nombre" class="form-control" type="text" name="nombre"/>
      </div>
      <div class="mb-3">
        <label class="form-label">Sector</label>
        <input cInput formControlName="sector" class="form-control" type="text" name="sector"/>
      </div>
      <div class="mb-3">
        <label class="form-label">País</label>
        <input cInput formControlName="pais" class="form-control" type="text" name="pais"/>
      </div>

    </form>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="secondary" (click)="cerrarModal()">Cancelar</button>
    <button cButton color="primary" (click)="guardarEmpresa()" [disabled]="formEmpresa.invalid">
      {{'Guardar' }}
    </button>
  </c-modal-footer>
</c-modal>

<!-- Modal vista de empresa (detalle, historial de evaluaciones y asignacion de auditor) -->
<c-modal #detalleEmpresa id="detalleEmpresa" scrollable [(visible)]="modalEmpresaVisible" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>{{idEmpresaSeleccionada + ' - ' + nombreEmpresa + ' - ' + sectorEmpresa}}</h5>
    <button [cModalToggle]="detalleEmpresa.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="vistaDetalleEmpresa"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="detalleEmpresa.id" cButton color="secondary">
      Cerrar
    </button>
  </c-modal-footer>
</c-modal>

<ng-template #vistaDetalleEmpresa>
  <div class="container">
    <div class="row">
      <div class="col-6 h5">
        Auditores asignados:
      </div>
      <div class="col-6 text-end" *ngIf="rolUsuario === 1 || rolUsuario === 2">
        <button cButton color="primary" variant="outline" (click)="asignarAuditor()">
          Asignar Auditor
        </button>
      </div>
    </div>
    <div class="row mt-3 ps-2">
      <ul cListGroup *ngIf="auditoresEmpresa && auditoresEmpresa.length > 0; else sinAuditores">
        <li *ngFor="let auditor of auditoresEmpresa" cListGroupItem>
          {{ auditor.nombre }} - asignado el {{ auditor.fecha_asignacion | date:'dd/MM/yyyy' }}
        </li>
      </ul>

      <ng-template #sinAuditores>
        <p class="text-muted">Sin auditores asignados</p>
      </ng-template>


    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col mt-4">
        <h5>Historial de evaluaciones</h5>
      </div>
    </div>  
    <div class="row">
      <div class="col">
        <ul cListGroup *ngIf="evaluaciones.length > 0; else sinEvaluaciones">
          <li cListGroupItem *ngFor="let eval of evaluaciones">
            <span>Marco legal evaluado: {{ eval.marco_legal }}</span>
            <br>
            <span class="text-muted">Fecha de evaluación: {{ formatFecha(eval.fecha) }}</span>
            <c-progress
             cTooltipPlacement="top"
             [cTooltip]="tooltipContent"
              [animated]="true"
              [value]="eval.porcentaje_cumplimiento"
              [color]="getColor(eval.porcentaje_cumplimiento)"
              variant="striped">
              {{ eval.porcentaje_cumplimiento }}%
            </c-progress>
          </li>
        </ul>

        <ng-template #tooltipContent>
          (0-20%): Nivel principiante<br>
          (21-40%): Nivel parcial<br>
          (41-60%): Nivel intermedio<br>
          (61-80%): Nivel avanzado<br>
          (81-100%): Nivel Consolidado<br>
        </ng-template>

        <ng-template #sinEvaluaciones>
          <p class="text-muted">Sin evaluaciones</p>
        </ng-template>

      </div>
    </div>
  </div>
</ng-template>

<!-- Modal asignar auditor) -->
<c-modal #AuditorEmpresa id="AuditorEmpresa" scrollable [(visible)]="modalAuditorVisible" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>Asignar Auditor a {{ nombreEmpresa }}</h5>
    <button [cModalToggle]="AuditorEmpresa.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="vistaDetalleAuditorEmpresa"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="AuditorEmpresa.id" cButton color="secondary">
      Cerrar
    </button>
  </c-modal-footer>
</c-modal>

<ng-template #vistaDetalleAuditorEmpresa>
  <div class="container">
    <div class="row">
      <div class="col-6 h5">
        <select aria-label="Select" cSelect [(ngModel)]="auditorSeleccionado">
          <option *ngFor="let auditor of auditores" [value]="auditor.id_usuario">
            {{ auditor.nombre }}
          </option>
        </select>
      </div>
      <div class="col-6 text-end">
        <button cButton color="primary" variant="outline" (click)="asignarAuditorEmpresa()">
          Asignar
        </button>
      </div>
    </div>
    
  </div>
  </ng-template>

  <!-- Modal Auditar empresa -->
<c-modal #AuditarEmpresa id="AuditarEmpresa" scrollable [(visible)]="modalAuditoriaVisible" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>Iniciar Evaluación a: {{ nombreEmpresa }}</h5>
    <button [cModalToggle]="AuditarEmpresa.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="vistaDetalleAuditarEmpresa"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="AuditarEmpresa.id" cButton color="secondary">
      Cerrar
    </button>
  </c-modal-footer>
</c-modal>

<ng-template #vistaDetalleAuditarEmpresa>
  <div class="container">
    <div class="row">
      <div class="col-6 h5">
        <select aria-label="Select" cSelect [(ngModel)]="marcoLegalId">
          <option *ngFor="let marcolegal of marcoLegalModel" [value]="marcolegal.id_marco_legal">
            {{ marcolegal.nombre }}
          </option>
        </select>
      </div>
      <div class="col-6 text-end">
        <button cButton color="primary" variant="outline" (click)="iniciarAuditoria(marcoLegalId)">
          Iniciar Evaluación
        </button>
      </div>
    </div>
    
  </div>
  </ng-template>